@import "../../styles/variables";

.container {
    width: 100vw;
}

.topBar {
    box-sizing: border-box;
    width: 100%;
    background-color: $color-dark;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.content {
    padding: 40px 120px;

    > h2 {
        margin-bottom: 20px;
    }

    @include tablet {
        padding: 40px 20px;
    }
}

.addCalendar {
    width: 50%;
    @include laptop {
        width: 100%;
    }
    > form {
        display: flex;
        flex-direction: column;

        > div {
            padding-bottom: 15px;
        }
    }

    &__hidden {
        height: 0;
    }

    &__1stLine {
        & > * {
            box-sizing: border-box;
            width: 50%;
            &:first-child {
                padding-right: 2% !important;
                width: 50%;
                @include laptop {
                    width: 100%;
                }
            }
            @include laptop {
                width: 100%;
            }
            @include laptop {
                width: 100%;
                &:not(:last-child) {
                    padding-right: 0 !important;
                }
            }
        }
    }

    &__2ndLine {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.calendarsList {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
        box-sizing: border-box;
        width: 33%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;

        @include laptop {
            width: 100%;
        }
    }
}

.card {
    background-color: #FCFCFC;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 3px 0px rgba(0,0,0,0.12);
    padding: 14px;
    border-radius: 8px;
    &__head {

    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h4 {
        font-weight: 600;
        font-size: $font-size-m;
    }
    p {
        margin-top: 15px;
        font-size: $font-size-s;
    }
}