.weeklyCardView {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px 0px 20px 0px;
    &:not(:last-child) {
        border-right: 1px solid #e0e0e0;
    }
}

.header {
    box-sizing: border-box;

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    padding-bottom: 40px;
    &__dayName {
        box-sizing: border-box;
        width: 70%;
        padding-top: 6px;
    }
    &__dayNo {
        box-sizing: border-box;

        width: 30%;
        text-align: right;
        font-size: 36px;
    }
}


.dailyHour {
    margin: 0 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover  .addNewReservation {
        display: flex;
    }

    &__reservedElements {
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        height: 24px;
    }
}


.reservationElement {
    &__userLetter {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1565c0;
        margin-right: 5px;
        padding: 2px;
        color: #FFF;
        cursor: pointer;

        &:hover .userName {
            display: block;
        }
    }



}

.userName {
    display: none;
    color: black;
    position: absolute;
    bottom: 80px;
}


.addNewReservation {
    height: 100%;
    width: 20px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}