@import "../../styles/variables";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.weekView {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    > div {
        flex: 0 0 auto;
        width: 25%;
    }
}