.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.bar {
    width: calc(100vw - 320px);
    margin-left: 320px;
    padding-left: 320px;
    position: relative;
    height: 64px;

}

.appToolbar{
    > div {
        padding-right: 40px;
    }
}

.weekView {
    height: 100%;
    display: flex;
    width: calc(100vw - 320px);
    overflow-x: scroll;
    > div {
        flex: 0 0 auto;
        width: 25%;
    }
}