@import "../../styles/variables";

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex
}

.drawer {
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 100%;
    -webkit-box-shadow: 32px 0px 41px -37px rgba(0,0,0,1);
    -moz-box-shadow: 32px 0px 41px -37px rgba(0,0,0,1);
    box-shadow: 32px 0px 41px -37px rgba(0,0,0,1);
    transition: left 300ms ease-out;

    > div {
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    @include mediumLaptop() {
        position: fixed;
        top: 64px;
        left: 0;
        width: 320px;
        height: calc(100vh - 64px);
        z-index: 90;
        background: white;

        &__hidden {
            left: -100%;
        }
    }

}

.roomInfoHeader {
    display: flex;
    justify-content: space-between;
    i {
        cursor: pointer;
        font-size: 1.4rem;
    }
}

.roomInfo {
    flex-grow: 4;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
        font-size: $font-size-ml;
        margin-bottom: 20px;
    }
    &__singleInfo {
        margin-bottom: 10px;
    }
}

.yourAttendance {
    flex-grow: 1;
    > h3 {
        font-size: $font-size-ml;
        margin-bottom: 20px;
    }
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.addedAttendances {
    width: 100%;
    > p {
        margin-bottom: 10px;
    }
    > div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

.calendarUser {
    background: #C2677B;
    border-radius: 8px;
    padding: 5px;
    color: white;
    margin-right: 10px;
    display: inline-block;
    margin-top: 6px;
}

.links {
    flex-grow: 1;
    box-sizing: border-box;
    height: 20%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        font-size: 19px;
        color: black;
        i {
            margin-right: 20px;
            transform: rotate(180deg);
        }
    }
}

.applyAttendance {
    background: $color-highlighted;
    position: fixed;
    bottom: 40px;
    cursor: pointer;
    right: 40px;
    width: 85px;
    height: 85px;
    z-index: 81;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    letter-spacing: 0.25px;
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    transition: color, background-color 300ms linear;
    @include mediumLaptop {
        bottom: 20px;
        right: 20px;
    }

    &__disabled {
        cursor: auto;
        background: $color-grey;
        color: #bfc0c0;
    }
}

.toastStyle {
    width: 500px;
    @include phones {
        width: 100vw;
    }
}

