

$font-size-xl: 48px;
$font-size-l: 32px;
$font-size-ml: 22px;
$font-size-m: 18px;
$font-size-s: 14px;

$color-dark: #1E2A39;
$color-highlighted: #AB304A;
$color-highlighted-dark: #80263d;
$color-highlighted-light: #C2677B;
$color-light: #BBC4CC;