@import "../../styles/variables";

.header {
  width: 100%;
  padding: 20px 40px 20px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  h1 {
    font-size: $font-size-l;
    color: white;
  }
}

.bg {
  background-color: $color-dark;

}

.logoDesktop {
  font-family: 'Bebas Neue', cursive;
  display: block;
  letter-spacing: 1px;

  @include mediumLaptop {
    display: none;
  }
}

.logoMobile {
  font-family: 'Bebas Neue', cursive;
  display: none;
  letter-spacing: 1px;
  @include mediumLaptop {
    display: block;
  }
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  > li {
    &:not(:last-child) {
      padding-right: 20px;
    }
  }
}

.hiUser {
  color: white;
}